$primary: #568A55;
$secondary: #CDF6A4;
$dark: #786430;
$font-family-sans-serif: "Inika", sans-serif !default;
$font-family-serif: "Inria Sans", serif !default;

@import "../node_modules/bootstrap/scss/bootstrap.scss"